header {
    border-bottom: solid 3px #ca9c11 ;
    padding: 10px;
    font-size: 22px;
    color: white;
}

body {
  background-color: #ADD8E6; ; 
}

h1 {color: blue  ;
  }

p {
    font-Size: 16px;
    color: red ; 
}
